<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>付款</title>
    <link rel="stylesheet" type="text/css" href="../../bootstrap-3.3.4/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../../bootstrap-3.3.4/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../CSS/index.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li><a href="#">Let's Go</a></li>
        <li><a href="../HTML/index.html">主页</a></li>
        <li><a href="../HTML/shopping-list.html">商品列表</a></li>
        <li class="right-shopping active"><a href="../HTML/shoppingCartList.html" id="shopping-cart-number">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>购物车(<var id="number">0</var>)
        </a></li>
    </ul>
</nav>
<table class="table table-bordered">
    <tr>
        <td><p id="date"></p>购物清单</td>
    </tr>
    <tr>
        <td>
            <table  class="table table-bordered">
                <tbody id="listTable">
                <tr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tr>
                <tr>
                    <td>分类</td>
                    <td class="col-xs-2">名称</td>
                    <td class="col-xs-2">单价(元)</td>
                    <td>单位</td>
                    <td class="col-xs-2">数量</td>
                    <td class="col-xs-2">小计</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr> <tr>
    <td>赠送商品</td>
</tr>
    <tr>
        <td>
            <table  class="table table-bordered">
                <tbody id="listSendTable">
                <tr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tr>
                <tr>
                    <td>分类</td>
                    <td class="col-xs-2">名称</td>
                    <td>单位</td>
                    <td class="col-xs-2">数量</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<p id="allPrice"></p>
<button class="btn btn-default btn-primary btn-sm right-shopping">确认</button>
<script type="text/html" id="list-template">
    <tr>
        <td  id='type-<%= i %>'><%= type %></td>
        <td class='col-xs-2'><%= name %></td>
        <td class='col-xs-2'><%= price %></td>
        <td><%= unit %></td>
        <td class='col-xs-2'>
            <div class='btn-group' role='group' aria-label='Basic example'>

                <var id='count-<%= i %>' aria-valuemin="0"><%= count %></var>

            </div>
        </td>
        <td class='col-xs-2' id='countPrice-<%= i %>'><%= countPrice %></td>
    </tr>
</script>
<script type="text/html" id="list-send-template">
    <tr>
        <td ><%= sendType %></td>
        <td class='col-xs-2'><%= sendName %></td>
        <td><%= sendUnit %></td>
        <td class='col-xs-2'>
            <div class='btn-group' role='group' aria-label='Basic example'>
                <var aria-valuemin="0"><%= sendCount %></var>
            </div>
        </td>
    </tr>
</script>
<script src="../../jquery2.1.3/jquery-2.1.3.min.js"></script>
<script src="../../underscore/underscore.js"></script>
<script src="../../pos/JS/shoppingList.js"></script>
<script src="../../pos/JS/shoppingCartList.js"></script>
<script src="../../pos/JS/payList.js"></script>
</body>
</html>